name: CI
on:
  workflow_dispatch: # allows manual triggering
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install Nix
        uses: cachix/install-nix-action@v17
      - name: Shellcheck
        run: nix develop --command shellcheck $(find . -type f -name "*.sh" -executable)
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install Nix
        uses: cachix/install-nix-action@v17
      - name: "actionlint"
        run: nix develop --command actionlint --ignore 'SC2046'
  nix-flake-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install Nix
        uses: cachix/install-nix-action@v17
      - name: "nix flake check"
        run: nix flake check
  treefmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install Nix
        uses: cachix/install-nix-action@v17
      - name: "treefmt"
        run: nix develop .#fmtShell --command treefmt --config-file ./.treefmt.toml --tree-root ./.
